*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

ul{
    list-style: none;
    display: inline-block;
}
.top1{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}
.top1 a{
    color: #fff;
    display: inline-block;
    font-weight:bold
}
.top1 a:hover{
    color: #c4003a;
}
.top1 img{
    display: block;
    height: 70px;
    padding: 10px 0px 10px 20px;
}
.top1 ul{
    display: block;
    position: relative;
    list-style: none;
    display: flex;
    height: 100%;
}
.top1 li{
    right: 1px;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    display: inline-block;
    text-align: center;
    padding: 0px 5px;
    height: 100%;
}
.middle{
    text-align: center;
    overflow: hidden;
    background: #18181a;
        
}
.banner{
    height: 801px;
    min-width: 100%;
    object-fit: fill;
    
}
.tiao{
    height: 180px;
    min-width: 560px;
    width: 60%;
    position:absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius:30px;
    z-index: 0;
    background-color:#fff; 
    /* opacity:0.8; */
}
.tiao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:#fff;
    text-align: center;
}
.tiao img{
    display: block;
    height: 100px;
}
.xiao{
    color:black;
}
.Bottom_A{
    min-height: 100px;
    background-color: #000;
}


.Bottom_A>div{ 
    max-width: 1000px;
    margin: 0 auto;
    height: 400px;
    
}
.Bottom_A>div::after{
    content: "";
    display: block;
}


.ul_b{
    margin: 100px 50px;
    float: right;
    /* height: 350px; */
}
.ul_b li{
    height: 50px;
    line-height: 50px;
}
.ul_b li a{
    padding: 0px 20px;
    text-align: center;
    display: block;
    transition: all .5s linear;
    color: #fff;
}
.ul_b a:hover{
    border-radius: 30px;
    background-color: #333;
    color: #c4003a;
}

.jieshao{
    display: inline-block;
    color: #fff;
}
.jieshao a{
    margin-top: 120px;
    display: block;
    width: 150px;
    height: 70px;
    background: url(../img/log.png);
    background-size: 100%;
}
.jieshao p{
    margin: 20px 0px;
}
